body{
  overflow: hidden;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.back-img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.logo {
  height: 150px;
  width: 150px;
  margin-top: 50px;
}

.purple {
  background-color: #8400FF;
}

.orange {
  background-color: #FF5B00;
}

.red {
  background-color: #FF0066;
}

.btn{
  height: 100px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin: 15px;
}

.title{
 font-size: 25px;
 font-family: "Asomtavruli";
}

@font-face {
  font-family: "Asomtavruli";
  src: url(./fonts/bpg_extrasquare_mtavruli_2009.ttf) format("ttf");
}

.modal{
    background-color: #05ACD7;
    display: flex;
    align-self: center;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 50vh;
    position: relative;
    margin: auto;
    margin-top: 10vh;
    border-radius: 25px 25px 25px;
    outline: none;
  }

.next{
  background-color: #8600CB;
  display: flex;
  width: 100px;
  align-self: center;
  border-radius: 10px 10px 10px;
  justify-content: center;
  padding: 10px;
  margin-bottom: 15px;
  color: white;
}

.modal-text{
  font-size: 2em;
  text-align: center;
  padding: 10px;
}